/* Put your style information here! */

@media screen and (max-width : 2000px)
{
  body {
    background-color: lightgoldenrodyellow;
    font-family: 'Piazzolla', serif;
    font-size: 20px;
  }
}
@media screen and (min-width : 2000px)
{
  body {
    background-color: lightgoldenrodyellow;
    font-family: 'Piazzolla', serif;
    font-size: 1.2vw;
  }
}



  img {
    border-radius: 2px;
    border-style:solid;
    border-color:cadetblue;
    padding: 0 0px 0px;
  }
  h3{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  b{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  